@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&display=swap');


/** GLOBALES **/
html {
   font-size: 62.5%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   font-size: 1.6rem; /* 16px como es normalmente por defecto */
}

.container {
   max-width: 120rem;/* 1200px; */
   margin: 0 auto;
}


/** HEADER **/
.site-header.inicio {
   min-width: 1200px;
   height: 100vh;
   min-height: 60rem;
   background-image: url(../img/header.jpg);
   background-size: cover;
   background-position: center center;
}

.barra {
   padding-top: 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


/** NAVEGACION **/
.navegacion a {
   color: #fff;
   text-decoration: none;
   font-size: 1.8rem;
   margin-right: 2rem;
}

.navegacion a:hover {
   color: #71B100;
}

.navegacion a:last-of-type {
   margin-right: 0;
}